---

---
<!-- el who la chupa por dos haha
jeje -->

<nav class="w-full fixed top-0 flex z-20  justify-between px-4 md:px-10 py-4 items-center">
	<h1 class="text-6xl font-bold tracking-wide ">GITA</h1>
	<div class="flex gap-4 text-lg">
		<a>Documentation</a>
		<a>Github</a>
	</div>
</nav>


